.home {
	margin: auto auto;
	padding-bottom: 20px;
	
	.title {
		margin: auto;
		padding: 60px 0 0 0;
		
		h1 {
			color: #31C5D3;
			text-align: center;
			width: fit-content;
			margin: auto;
		}
		
		h3 {
			color: #7DCED5;
			font-style: italic;
			width: fit-content;
			padding-top: 5px;
			margin: auto;
		}
	}
}
